// formulario de contacto, fuente tamaño ubicacion
form {
    font-family: verdana;
    width: 50%;
    margin: 0 auto;
    margin-top: 6%;
    color: white;
    text-decoration: underline;
  
    label {
      display: block;
      margin-bottom: 10px;
      color: white;
    }
  
    input,
    textarea {
      display: block;
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
      font-family: Verdana;
    }
  
    .enviar {
      font-size: 23px;
      padding: 3px;
      margin-bottom: 3px;
    }
  
    .contactanos {
      margin-bottom: 25px;
    }
  }