// titulo y texto discografia
.discografia-title {
    margin-top: 7%;
    margin-left: 7%;
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
  
    h2 {
      font-size: 16px;
      text-decoration: none;
    }
  }
  
  // espaciado embeds spotify
  .spotify-lists {
    margin-left: 7%;
    margin-top: 3%;
  }